
@{
    ViewBag.Title = "Video Chat Rooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-3 col-sm-6">
        <figure class="eachRoom">
            <figcaption class="img">
                <a href="#"><img src="@Url.Content("~/Images/VideoChat/Index/chatpicture.jpg")" height="100%" /></a>
            </figcaption>
            <fieldset>
                <a href="#">Culture Between West and East Communication</a>
            </fieldset>
        </figure>
    </div>
    <div class="col-lg-3 col-sm-6">
        <figure class="eachRoom">
            <figcaption class="img">
                <a href="#"><img src="@Url.Content("~/Images/VideoChat/Index/chatpicture.jpg")" height="100%" /></a>
            </figcaption>
            <fieldset>
                <a href="#">Sing And Dance</a>
            </fieldset>
        </figure>
    </div>
    <div class="col-lg-3 col-sm-6">
        <figure class="eachRoom">
            <figcaption class="img">
                <a href="#"><img src="@Url.Content("~/Images/VideoChat/Index/chatpicture.jpg")" height="100%" /></a>
            </figcaption>
            <fieldset>
                <a href="#">XXXXXXXXXXXXXXXXXXXXXXXX</a>
            </fieldset>
        </figure>
    </div>
    <div class="col-lg-3 col-sm-6">
        <figure class="eachRoom">
            <figcaption class="img">
                <a href="#"><img src="@Url.Content("~/Images/VideoChat/Index/chatpicture.jpg")" height="100%" /></a>
            </figcaption>
            <fieldset>
                <a href="#">XXXXXXXXXXXXXXXXXXXX</a>
            </fieldset>
        </figure>
    </div>
    <div class="col-lg-3 col-sm-6">
        <figure class="eachRoom">
            <figcaption class="img">
                <a href="#"><img src="@Url.Content("~/Images/VideoChat/Index/chatpicture.jpg")" height="100%" /></a>
            </figcaption>
            <fieldset>
                <a href="#">XXXXXXXXXXXXXXXXXXXX</a>
            </fieldset>
        </figure>
    </div>
    <div class="col-lg-3 col-sm-6">
        <figure class="eachRoom">
            <figcaption class="img">
                <a href="#"><img src="@Url.Content("~/Images/VideoChat/Index/chatpicture.jpg")" height="100%" /></a>
            </figcaption>
            <fieldset>
                <a href="#">XXXXXXXXXXXXXXXXXXXX</a>
            </fieldset>
        </figure>
    </div>
    <div class="col-lg-3 col-sm-6">
        <figure class="eachRoom">
            <figcaption class="img">
                <a href="#"><img src="@Url.Content("~/Images/VideoChat/Index/chatpicture.jpg")" height="100%" /></a>
            </figcaption>
            <fieldset>
                <a href="#">XXXXXXXXXXXXXXXXXXXX</a>
            </fieldset>
        </figure>
    </div>
    <div class="col-lg-3 col-sm-6">
        <figure class="eachRoom">
            <figcaption class="img">
                <a href="#"><img src="@Url.Content("~/Images/VideoChat/Index/chatpicture.jpg")" height="100%" /></a>
            </figcaption>
            <fieldset>
                <a href="#">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</a>
            </fieldset>
        </figure>
    </div>
</div>

@section styles{
    <link type="text/css" href="~/Content/VideoChat/Index.css" rel="stylesheet" />
}